body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

h1, h2, h3 {
  margin: 0,
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

